@tailwind base;
@tailwind components;
@tailwind utilities;


/* this is to stop an accidental refresh when using the app */
html, body {
  overscroll-behavior-y: none;
}

body {
  font-family: "'Segoe UI', sans-serif";
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}


